<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Leitor
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" color="medium">

</ion-content>

<div class="screen">
  <div class="scan">
    <img id="logo" src="assets/logo.jpg" alt="">
  </div>
</div>

<ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-button (click)="lerQRCode()" expand="block" 
color="danger">LER QRCODE</ion-button>
  </ion-toolbar>
</ion-footer>
